---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Navbar from "../components/Navbar.astro"
import Proyects from '../components/Proyects.astro';
import Stack from '../components/Stack.astro';
---

<Layout>
	<Navbar class="" ></Navbar>
	<Main></Main>
	<Proyects id="projects"></Proyects>
	<Stack id="stack"></Stack>
<div class="w-full bg-neutral-950">
  <footer class="max-w-[30rem] m-auto pt-0 sm:max-w-xl md:max-w-2xl lg:max-w-3xl">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between py-8 px-4 border-t border-white/10">
      <span class="text-sm text-center md:text-left text-gray-300">
        © 2025 
        <a href="mailto:javierub38@gmail.com" class="hover:text-yellow-300 transition-colors">
          Javier
        </a>
      </span>
      
      <ul class="flex flex-wrap items-center justify-center md:justify-end mt-4 md:mt-0 text-sm font-medium text-gray-300 gap-4 md:gap-6">
        <li>
          <a href="#" class="flex items-center hover:text-yellow-300 transition-colors">
            <img 
              src="/logo.webp" 
              alt="Logo" 
              class="w-6 h-6 rounded-full"
            />
          </a>
        </li>
        <li>
          <a href="#projects" class="hover:text-yellow-300 hover:underline transition-colors">
            Proyectos
          </a>
        </li>
        <li>
          <a href="#stack" class="hover:text-yellow-300 hover:underline transition-colors">
            Stack
          </a>
        </li>
        <li>
          <a href="mailto:javierub38@gmail.com" class="hover:text-yellow-300 hover:underline transition-colors">
            Contacto
          </a>
        </li>
      </ul>
    </div>
  </footer>
</div>


</Layout>
