---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Navbar from "../components/Navbar.astro"

---

<Layout>
	<Navbar class="" ></Navbar>
	<Main></Main>
	<div id="experiencia">
		<h2 class="text-2xl font-bold mt-10">Sobre mí</h2>
		<p class="mt-4 text-gray-300 text-2xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus ducimus dignissimos accusantium, asperiores sapiente rerum ipsam quaerat amet illum! Fuga voluptates adipisci nobis doloremque nisi delectus quis accusantium quae.
		</p>
	</div>

</Layout>
