---
const navItems = [
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#projects",
  },
  {
    title: "Stack",
    label: "stack",
    url: "/#stack",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:javierub38@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 hidden sm:flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center gap-4"
  >
    <a
      class="relative block px-2 transition"
      id="scroll-top-btn"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
      <div class="hover:scale-120 rounded-full transition-all px-2">
        <img src="../../logo.webp" alt="" class="size-7" />
      </div>
    </a>
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  nav {
    background-color: oklch(27.8% 0.033 256.848);
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
  }

  @keyframes nav-shadown {
    from {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
    to {
      background-color: oklch(27.8% 0.033 256.848);
      border-color: rgb(255 255 255 / 0.1);
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
    }
  }
</style>
