<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	role="link"
	class="inline-flex items-center justify-center gap-2 px-4 py-1 transition text-white  text-md bg-gray-800
	border rounded-full  border-gray-600
	hover:bg-gray-100 hover:text-black "
>
	<slot />
</a>