---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Porfolio de Javier</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		margin: 0;
		width: 100%;
		color-scheme: dark;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}
	
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
		color-scheme: dark;
		overflow-x: hidden;
	}
</style>
